$color-fundo-menu: #2a6fdb;
$font-principal: "Montserrat";
$color-text-white: #fff;
$color-text-hover: #CCC;
$color-buttons-blue: rgb(61, 171, 223);
$color-border-table: #db972a57;
$color-secondary-text:#db962a;
$color-black: #000;
$color-red: rgb(233, 61, 61);
