.l-home {
  display: grid;
  grid-template-areas:
    "navBar navBar navBar"
    "main main main"
    "main main main"
    "main main main"
  ;

  overflow: hidden;

  &_header{
    grid-area: navBar;
  }

  &_main{
    grid-area: main;
  }

  @media screen and (max-width: 390px) {
    display: flex;
    flex-direction: column;

    &_main {
      display: block;
    }

  }
}


