<section class="l-main">

  <div class="l-main_select-word">
      <h2>Selected Word</h2>
      <div class="l-main_select-word_word">
          <h2>{{wordSelected.word}}</h2>
          <p>{{ wordSelected.phonetic}}</p>
      </div>

      <section class="l-main_select-word_audio">
        <audio controls >
            <source src={{wordSelected.audio}} type="audio/mp3">
        </audio>
      </section>

      <section class="l-main_select-word_controller">
        <div class="l-main_select-word_controller-icons">
          <h2>Meanings</h2>
          <a  (click)="setFavorites(wordSelected)">Favoritar</a>
        </div>
        <p> {{ wordSelected.definition }}</p>
        <div class="l-main_select-word_controller-buttons">
          <button>Voltar</button>
          <button>Próximo</button>
        </div>
      </section>
  </div>

  <div class="l-main_list-words">
    <section class="l-main_list-words_menu">
      <a  (click)="getWords()">Word List</a>
      <a  (click)="getFavorites()">Favorites</a>
      <a (click)="getHistory()">History</a>
    </section>

    <section class="l-main_list-words_table">
      <table >
        <thead>
          <tr>
            <th colspan="6">Words</th>
          </tr>

        </thead>
        <tbody >
          <tr *ngFor="let letra of letras">
            <td colspan="1"><a (click)="getWord(letra)">{{letra}}</a></td>
            <td *ngIf="favoriteClicked " class="l-main_list-words_table-remove" (click)="removeLetterFavorites(letra)"><a >REMOVER</a></td>
          </tr>



        </tbody>
      </table>
    </section>
  </div>
</section>
