<section class="l-main">

  <div class="l-main_select-word">
      <h2>Selected Word</h2>
      <div class="l-main_select-word_word">
          <h2>Palavra</h2>
          <p>se ila o que</p>
      </div>

      <section class="l-main_select-word_audio">
        <audio controls >
            <source src="//ssl.gstatic.com/dictionary/static/sounds/20200429/hello--_gb_1.mp3" type="audio/mp3">
        </audio>
      </section>

      <section class="l-main_select-word_controller">
        <h2>Meanings</h2>
        <p>Verb algum coisa</p>
        <div class="l-main_select-word_controller-buttons">
          <button>Voltar</button>
          <button>Próximo</button>
        </div>
      </section>
  </div>

  <div class="l-main_list-words">
    <section class="l-main_list-words_menu">
      <a href="">Word List</a>
      <a href="">Favorites</a>
      <a href="">History</a>
    </section>

    <section class="l-main_list-words_table">
      <table>
        <thead>
          <tr>
            <th colspan="6">Words</th>
          </tr>

        </thead>
        <tbody>
          <tr>
            <td colspan="1"><a href="">palavra</a></td>
            <td colspan="1"><a href="">palavra</a></td>
            <td colspan="1"><a href="">palavra</a></td>
            <td colspan="1"><a href="">palavra</a></td>
            <td colspan="1"><a href="">palavra</a></td>
          </tr>



        </tbody>
      </table>
    </section>
  </div>
</section>
